<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699567818876-58jb69mf01g9furors5gv20oadv9c2jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699567818876-58jb69mf01g9furors5gv20oadv9c2jg</string>
	<key>API_KEY</key>
	<string>AIzaSyALwIuhrMYVypjdug4C73j8hnckOVX4Tho</string>
	<key>GCM_SENDER_ID</key>
	<string>699567818876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.co.moveo.Dispatcher.prod</string>
	<key>PROJECT_ID</key>
	<string>dispatcher-prod-7a7f6</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher-prod-7a7f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:699567818876:ios:09ffaf2a99fe830f4061f9</string>
</dict>
</plist>
